<!DOCTYPE html>
<html>

<head>
  <% include partials/head%>
</head>

<body>


  <!--div class="jumbotron text-center" -->
  <header>
    <% include partials/header%>
  </header>

  <aside class="float-right bg-dark " style="position:relative;">
    <table class="table-bordered border- mx-auto ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">mot-cl&eacute;</th>
        </tr>
  
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            insertions python
          </td>
          <td>
            insertions python
          </td>
        </tr>
  
  
      </tbody>
    </table>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">


        

        <canvas id="myChart">
          <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: {
                labels:  <%- JSON.stringify(liste5elem[0]) %> ,
                //['Red,blue', 'Blue', 'Yellow', 'Green', 'Purple','Orange'] ,
                datasets: [{
                  label: 'Nombre de publications',
                  backgroundColor: '#ff6600',
                  borderColor: '#FAA500',
                  data: <%-  liste5elem[1] %>,
                }]
              },

              // Configuration options go here
              options: {}
            });</script>

        </canvas>

      </div>
      <div class="col-sm-3">
        <h3>Column 2</h3>
        <p id="demo"></p>
   
      </div>
      <div class="col-sm-3">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div id= "listeC1" class="col-sm-4">
      </div>
      <div id= "listeC2" class="col-sm-4">
      </div>
      <div id= "listeC3"class="col-sm-4">
      </div>
      <script> var liste;
          liste = <%- JSON.stringify(liste) %>
          console.log("typeList : " + typeof liste);
          liste = liste.replace(/"/g,"'");
          liste = liste.split(", \'");
          liste = liste.sort();
          var taille = Math.trunc(liste.length/3) ;
          console.log(liste.length);
          console.log(liste[0] + " holiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii");
  
          var ul1 = document.createElement('ul');
          var ul2 = document.createElement('ul');
          var ul3 = document.createElement('ul');
  
          document.getElementById('listeC1').appendChild(ul1);
          document.getElementById('listeC2').appendChild(ul2);
          document.getElementById('listeC3').appendChild(ul3);
  
          for (let i = 0; i < taille; i++) {
            liste[i] = liste[i].replace(/'/g," ");
            var li = document.createElement('li');
            ul1.appendChild(li);
            li.innerHTML += "<a href = \"http://localhost:8080/"+ liste[i] +"\">"+ liste[i]+"</a>";
          }
          for (let i = taille; i < 2*taille; i++) {
            liste[i] = liste[i].replace(/'/g," ");
            var li = document.createElement('li');
            ul2.appendChild(li);
            li.innerHTML += "<a href = \"http://localhost:8080/"+ liste[i] +"\">"+ liste[i]+"</a>";
          }
          for (let i = 2*taille; i < 3*taille; i++) {
            liste[i] = liste[i].replace(/'/g," ");
            var li = document.createElement('li');
            ul3.appendChild(li);
            li.innerHTML += "<a href = \"http://localhost:8080/"+ liste[i] +"\">"+ liste[i]+"</a>";
          }

          function fctSearch() {
            var search = document.getElementById("searchI").value;
          
            var result = liste.filter(elem => elem == search);
            for (let i = 0; i < result.length; i++) {
            var li = document.createElement('li');
            ul3.appendChild(li);
            li.innerHTML += "<a href = \"http://localhost:8080/"+ result[i] +"\">"+ result[i]+"</a>";
          }

          }

        </script>
    
    </div>
  
</div>


  <footer height="50%">
    <% include partials/footer%>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="JQuery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="javaScript.js"></script>

</body>

</html>