<!DOCTYPE html>
<html>

<head>
  <% include partials/head%>
</head>

<body>


  <!--div class="jumbotron text-center" -->
  <header>
    <% include partials/header%>
  </header>

  <aside class="float-right bg-dark " style="position:relative;">
    <table class="table-bordered border- mx-auto ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">mot-cl&eacute;</th>
        </tr>
  
      </thead>
      <tbody>
        <tr>
          <td scope="row">
            insertions python
          </td>
          <td>
            insertions python
          </td>
        </tr>
  
  
      </tbody>
    </table>
  </aside>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">


        

        <canvas id="myChart">
          <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: 'bar',

              // The data for our dataset
              data: {
                labels:  <%- JSON.stringify(liste5elem[0]) %> ,
                //['Red,blue', 'Blue', 'Yellow', 'Green', 'Purple','Orange'] ,
                datasets: [{
                  label: 'Nombre de publications',
                  backgroundColor: '#ff6600',
                  borderColor: '#FAA500',
                  data: <%-  liste5elem[1] %>,
                }]
              },

              // Configuration options go here
              options: {}
            });</script>

        </canvas>

      </div>
      <div class="col-sm-3">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
      <div class="col-sm-3">
        <h3>Column 3</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Column 4</h3>
        <p id="texteJQ">
          <p>
            <p>Lorem ipsum dolor..</p>
            <p>Ut enim ad..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 5</h3>
        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 6</h3>
        <p id="texteJQ1"></p>

        <p>Lorem ipsum dolor..</p>
        <p>Ut enim ad..</p>
      </div>
    </div>
  
</div>


  <footer height="50%">
    <% include partials/footer%>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="JQuery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="javaScript.js"></script>
    <script type="text/javascript" src="javaScript.js"></script> 
  <script type="text/javascript" src="javaScript.js"></script>

</body>

</html>