
    <!DOCTYPE html>
      <html>
      
      <head>
       <% include partials/head%>
      </head>
      
      <body>
      
      
        <!--div class="jumbotron text-center" -->
        <header>
          <% include partials/header%>
        </header>
      
        <div class="container">
      
      
          <nav class="navbar navbar-inverse">
      
            <div class="container-fluid">
      
              <ul class="nav navbar-nav">
      
                <li class="active"> <a href="acceuil">Accueil</a> </li>
      
                <li> <a href="#">Liens</a> </li>
      
                <li> <a href="#">Témoignages</a> </li>
      
                <li> <a href="#">Références</a> </li>
      
              </ul>
      
              <form class="navbar-form navbar-right inline-form">
      
                <div class="form-group">
      
                  <input type="search" class="input-sm form-control" placeholder="Rechercher...">
      
                  <button type="submit" class="btn btn-primary btn-sm">Chercher</button>
      
                </div>
      
              </form>
            </div>
          </nav>
        </div>
      
      
      
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
      
              
          
              
              
      
              <p><%= liste %></p>
            
      
             
      
            
              
            </div>
            <div class="col-sm-3">
              <h3>Column 2</h3>
              <p>Lorem ipsum dolor..</p>
              <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-3">
              <h3>Column 3</h3>
              <p>Lorem ipsum dolor..</p>
              <p>Ut enim ad..</p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>Column 4</h3>
              <p id="texteJQ">
                <p>
                  <p>Lorem ipsum dolor..</p>
                  <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
              <h3>Column 5</h3>
              <p>Lorem ipsum dolor..</p>
              <p>Ut enim ad..</p>
            </div>
            <div class="col-sm-4">
              <h3>Column 6</h3>
              <p id="texteJQ1"></p>
      
              <p>Lorem ipsum dolor..</p>
              <p>Ut enim ad..</p>
            </div>
          </div>
        </div>
      <footer>
        <% include partials/footer %>
      </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      
        <script src="JQuery.js"></script>
        <script src ="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
      
          <script type="text/javascript" src="javaScript.js"></script> 
        
      </body>
      
      </html>
      